html, main, body {
  scroll-behavior: smooth;
}

.sidebar-group {
    margin-top: 1rem;
}

.prose :where(code):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: rgb(var(--primary));
}

:not(pre)>code {
    background-color: rgb(var(--primary) / .1);
    padding: .125rem .4375rem;
    margin: 0 .1875rem;
}

.prose :where(code):not(:where([class~=not-prose],[class~=not-prose] *)) {
    font-weight: 600;
}

.prose :where(kbd):not(:where([class~=not-prose],[class~=not-prose] *)) {
    box-shadow: 0 0 0 1px rgb(var(--primary)/100%),0 3px 0 rgb(var(--primary)/50%);
    margin: 0 .1875rem;
}

@media (min-width: 1024px) {
    #page-context-menu-button {
        margin-left: auto;
    }
}

[data-component-part="card-icon"] {
  align-self: self-start;
}

.card.block {
    height: stretch;
}

.prose-gray {
    --tw-prose-body: #44403C;
    --tw-prose-headings: #0C0A09;
    --tw-prose-lead: #63594b;
    --tw-prose-links: #0C0A09;
    --tw-prose-bold: #0C0A09;
    --tw-prose-counters: #80786b;
    --tw-prose-bullets: #dbd8d1;
    --tw-prose-hr: #ebe9e5;
    --tw-prose-quotes: #0C0A09;
    --tw-prose-quote-borders: #ebe9e5;
    --tw-prose-captions: #807a6b;
    --tw-prose-kbd: #0C0A09;
    --tw-prose-kbd-shadows: 17 24 39;
    --tw-prose-code: #0C0A09;
    --tw-prose-pre-code: #ebe9e5;
    --tw-prose-pre-bg: #372b1f;
    --tw-prose-th-borders: #dbd7d1;
    --tw-prose-td-borders: #e5e7eb;
    --tw-prose-invert-body: #D6D3D1;
    --tw-prose-invert-headings: #F5F5F4;
    --tw-prose-invert-lead: #afa69c;
    --tw-prose-invert-links: #f5f5f4;
    --tw-prose-invert-bold: #F5F5F4;
    --tw-prose-invert-counters: #afa89c;
    --tw-prose-invert-bullets: #63594b;
    --tw-prose-invert-hr: #514537;
    --tw-prose-invert-quotes: #f6f5f3;
    --tw-prose-invert-quote-borders: #514437;
    --tw-prose-invert-captions: #afa89c;
    --tw-prose-invert-kbd: #f5f5f4;
    --tw-prose-invert-kbd-shadows: 255 255 255;
    --tw-prose-invert-code: #F5F5F4;
    --tw-prose-invert-pre-code: #dbdad1;
    --tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
    --tw-prose-invert-th-borders: #635a4b;
    --tw-prose-invert-td-borders: #514937;
}